USE [master]
GO
/****** Object:  Database [MentalHealthDB]    Script Date: 02-05-2025 22:58:19 ******/
CREATE DATABASE [MentalHealthDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MentalHealthDB', FILENAME = N'C:\Users\Administrator\MentalHealthDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MentalHealthDB_log', FILENAME = N'C:\Users\Administrator\MentalHealthDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MentalHealthDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MentalHealthDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 02-05-2025 22:58:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MentalHealthLogs]    Script Date: 02-05-2025 22:58:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MentalHealthLogs](
	[LogId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](max) NOT NULL,
	[MoodId] [int] NOT NULL,
	[Intensity] [int] NOT NULL,
	[Notes] [nvarchar](500) NOT NULL,
	[LogDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_MentalHealthLogs] PRIMARY KEY CLUSTERED 
(
	[LogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Moods]    Script Date: 02-05-2025 22:58:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Moods](
	[MoodId] [int] IDENTITY(1,1) NOT NULL,
	[MoodName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NOT NULL,
	[CreatedBy] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Moods] PRIMARY KEY CLUSTERED 
(
	[MoodId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_MentalHealthLogs_MoodId]    Script Date: 02-05-2025 22:58:19 ******/
CREATE NONCLUSTERED INDEX [IX_MentalHealthLogs_MoodId] ON [dbo].[MentalHealthLogs]
(
	[MoodId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MentalHealthLogs]  WITH CHECK ADD  CONSTRAINT [FK_MentalHealthLogs_Moods_MoodId] FOREIGN KEY([MoodId])
REFERENCES [dbo].[Moods] ([MoodId])
GO
ALTER TABLE [dbo].[MentalHealthLogs] CHECK CONSTRAINT [FK_MentalHealthLogs_Moods_MoodId]
GO
USE [master]
GO
